.card {
  width: 200px;
  word-break: break-all;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup {
  z-index: 100;
  height: 400px;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  /* border-bottom: 0.5px solid black; */
  margin: 3px 0;
}

.desc {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  width: 70px;
}

.button:focus {
  outline: none;
}

.logout {
  background-color: tomato;
}

.login {
  background-color: teal;
  margin-right: 10px;
}

.register {
  background-color: slateblue;
}

.delete-pin-button {
  background-color: red;
  width: 60%;
  color: white;
  text-align: left;
  padding-left: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 5px;
}

.pins-button,
.tasks-button,
.home-button,
.topics-button {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 15px;
}

.home-button {
  color: tomato;
  border: 1px solid tomato;
}
.tasks-button {
  color: #1890ff;
  border: 1px solid #1890ff;
}
.pins-button {
  color: #d25e8f;
  border: 1px solid #d25e8f;
}
.topics-button {
  color: #49d8be;
  border: 1px solid #49d8be;
}

.home-map {
  margin-top: 15;
  margin-right: 15;
  background-color: transparent;
  color: tomato;
  border: none;
  cursor: pointer;
}

.icon {
  margin: 7px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.icon:hover {
  color: tomato;
  font-weight: bold;
}

.logout-div {
  position: absolute;
  top: 31px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}
.topics-page {
  margin-top: 80px;
}
.topics {
  display: flex;
  flex-wrap: wrap;
}

.topic {
  flex-basis: calc(33.33% - 22px);
  border: 1px solid rgb(137, 70, 236);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.topic:hover {
  font-weight: bold;
  cursor: pointer;
}

.topic-add-button {
  width: 40%;
  background-color: rgb(137, 70, 236);
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  border-radius: 14px;
  margin-bottom: 20px;
  padding: 7px 20px;
  cursor: pointer;
}

.x-center {
  display: flex;
  justify-content: center;
}

.comment-button {
  /* position: absolute; */
  border: 1px solid #2b823d;
  padding: 5px 10px;
  border-radius: 6px;
  color: #2b823d;
  font-weight: 500;
  cursor: pointer;
}
.comments-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #2b823d;
  border-radius: 6px;
  padding: 5px;
  margin-right: 12px;
}

.comment {
  position: relative;
  display: flex;
  border: 1px solid black;
  text-align: left;
}

.back-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(245, 245, 245);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10;
  font-size: 14;
  height: 32;
  padding: 4px 15px;
}

.check-button {
  font-size: 20px;
  color: green;
  cursor: pointer;
  margin-right: 10px;
}
