.loginContainer {
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.loginCancel {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}

.loginBtn {
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  cursor: pointer;
}

.registerContainer {
  width: 300px;
  height: 250px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.registerCancel {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: slateblue;
  font-weight: 700;
  margin-bottom: 20px;
}

.registerBtn {
  border: none;
  padding: 5px;
  background-color: slateblue;
  color: white;
  cursor: pointer;
}

.success {
  font-size: 12px;
  color: green;
  text-align: center;
}

.failure {
  font-size: 12px;
  color: red;
  text-align: center;
}

.card {
  width: 200px;
  word-break: break-all;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup {
  z-index: 100;
  height: 400px;
}

.desc {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  width: 70px;
}

.button:focus {
  outline: none;
}

.logout {
  background-color: slateblue;
}

.login {
  background-color: teal;
  margin-right: 10px;
}

.register {
  background-color: slateblue;
}

.delete-pin-button {
  background-color: red;
  width: 60%;
  color: white;
  text-align: left;
  padding-left: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 5px;
}
/* HEADER BUTTONS */
.pins-button,
.tasks-button,
.home-button,
.topics-button,
.archive-button {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
}

.home-button {
  color: tomato;
  border: 1px solid tomato;
}
.tasks-button {
  color: #1890ff;
  border: 1px solid #1890ff;
}
.pins-button {
  color: #d25e8f;
  border: 1px solid #d25e8f;
}
.topics-button {
  color: #49d8be;
  border: 1px solid #49d8be;
}
.archive-button {
  color: rgba(13, 14, 97, 0.66);
  border: 1px solid rgba(13, 14, 97, 0.66);
}

.icon {
  margin: 7px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.icon:hover {
  color: tomato;
  font-weight: bold;
}

.logout-div {
  position: absolute;
  top: 31px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}
.topics-page {
  margin-top: 80px;
}
.topics {
  display: flex;
  flex-wrap: wrap;
}
.archives {
  display: flex;
  flex-wrap: wrap;
}

/* DIVS IN TOPIC AND ARCHIVE MODULES */
.topic,
.archive {
  flex-basis: calc(33.33% - 22px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  cursor: pointer;
}
.topic {
  position: relative;
  border: 1px solid rgb(137, 70, 236);
  /* padding: 5px 10px 5px 0px; */
  padding: 5px;
}
.archive {
  padding: 5px;
  border: 1px solid rgba(13, 14, 97, 0.66);
}

.topic:hover {
  font-weight: bold;
  cursor: pointer;
  color: rgb(137, 70, 236);
}
.archive:hover {
  font-weight: bold;
  cursor: pointer;
  color: rgba(13, 14, 97, 0.66);
}

.topic-add-button,
.archive-add-button {
  width: 40%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  border-radius: 14px;
  padding: 7px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.topic-add-button {
  background-color: rgb(137, 70, 236);
}

.archive-add-button {
  background-color: rgba(13, 14, 97, 0.66);
}

.x-center {
  display: flex;
  justify-content: center;
}

.comment-button {
  border: 1px solid #2b823d;
  padding: 5px 10px;
  border-radius: 6px;
  color: #2b823d;
  font-weight: 500;
  cursor: pointer;
}
.comments-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #2b823d;
  border-radius: 6px;
  padding: 5px;
  margin-right: 12px;
}
.comment {
  position: relative;
  display: flex;
  border-bottom: 1px solid #2b823d;
  text-align: left;
}

.back-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(245, 245, 245);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10;
  font-size: 14;
  height: 32;
  padding: 4px 15px;
}

.check-button {
  font-size: 20px;
  color: green;
  cursor: pointer;
  margin-right: 10px;
}

.comment-qty {
  position: absolute;
  right: -2px;
  top: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 99px;
  background-color: tomato;
  color: #fff;
  font-size: 10px;
}

.effectiveness-div {
  margin-right: 13px;
  border: 1px solid darkmagenta;
  padding: 7px;
  border-radius: 6px;
}
